@use "sass:string";
$bg-color: #{"@window_bg_color"};
$bg-hover: #{"@success_bg_color"};
$fg-color: #{"@window_fg_color"};
$accent: #{"@accent_bg_color"};
$button-accent: #{"@carg_fg_color"};
$radius: 7px;
$error: red;

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}
