// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@use "sass:string";
@use "sass:color";
$bg-color: #212223;
$fg-color: #f1f1f1;
$accent: #378df7;
$radius: 7px;

window.Bar {
  border: none;
  border-radius: $radius;
  box-shadow: none;
  background-color: $bg-color;
  color: $fg-color;
  font-size: 1.2em;
  font-weight: bold;

  .Launcher {
    margin: 5px 0px;
    padding: 0rem 0rem;
  }

  button {
    background-color: transparent;
  }

  .Workspaces {
    button {
      all: unset;
      background-color: transparent;

      &:hover label {
        background-color: color.adjust($fg-color, $alpha: -0.84);
        border-color: color.adjust($accent, $alpha: -0.8);
      }

      &:active label {
        background-color: color.adjust($fg-color, $alpha: -0.8);
      }
    }

    label {
      transition: 200ms;
      padding: 0 2px;
      margin: 2px;
      border-radius: $radius;
      border: 1pt solid transparent;
    }

    .focused label {
      color: $accent;
      border-color: $accent;
    }
  }

  .SysTray {
    margin-bottom: 0px;

    button {
      padding: 0 1px;
    }
  }

  .FocusedClient {
    color: $accent;
  }

  .Media .Cover {
    /* min-height: 1.2em; */
    /* min-width: 1.2em; */
    border-radius: $radius;
    background-position: center;
    background-size: contain;
  }

  .BigTime {
    margin: 0px;
    padding: 0px;
  }

  .Time {
    font-weight: bold;
    font-size: 0.8rem;
  }

  .Battery {
    margin-right: 5px;
    margin-left: 5px;
  }

  .AudioSlider {
    * {
      all: unset;
    }

    icon {
      margin-top: 0.6em;
    }

    & {
      margin: 0 0;
    }

    trough {
      background-color: color.adjust($fg-color, $alpha: -0.8);
      border-radius: $radius;
    }

    highlight {
      background-color: $accent;
      min-height: 0.8em;
      border-radius: $radius;
    }

    slider {
      background-color: $fg-color;
      border-radius: $radius;
      min-height: 1em;
      min-width: 1em;
      margin: -0.2em;
    }
  }
}

box.MediaPlayer {
  padding: 0.6rem;
  background-color: $bg-color;

  box.cover-art {
    min-width: 120px;
    min-height: 120px;
    border-radius: 9px;
    margin-right: 0.6rem;
    background-size: contain;
    background-position: center;
  }

  box.title {
    label {
      font-weight: bold;
      font-size: 1.1em;
    }
  }

  scale {
    padding: 0;
    margin: 0.4rem 0;

    trough {
      min-height: 8px;
    }

    highlight {
      background-color: $fg-color;
    }

    slider {
      all: unset;
    }
  }

  centerbox.actions {
    min-width: 220px;

    button {
      min-width: 0;
      min-height: 0;
      padding: 0.4rem;
      margin: 0 0.2rem;
    }
  }
}

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$error: red;

window.NotificationPopups {
  all: unset;
}

eventbox.Notification {
  &:first-child > box {
    margin-top: 1rem;
  }

  &:last-child > box {
    margin-bottom: 1rem;
  }

  // eventboxes can not take margins so we style its inner box instead
  > box {
    min-width: 400px;
    border-radius: 13px;
    background-color: $bg-color;
    margin: 0.5rem 1rem 0.5rem 1rem;
    box-shadow: 2px 3px 8px 0 gtkalpha(black, 0.4);
    border: 1pt solid gtkalpha($fg-color, 0.03);
  }

  &.critical > box {
    border: 1pt solid gtkalpha($error, 0.4);

    .header {
      .app-name {
        color: gtkalpha($error, 0.8);
      }

      .app-icon {
        color: gtkalpha($error, 0.6);
      }
    }
  }

  .header {
    padding: 0.5rem;
    color: gtkalpha($fg-color, 0.5);

    .app-icon {
      margin: 0 0.4rem;
    }

    .app-name {
      margin-right: 0.3rem;
      font-weight: bold;

      &:first-child {
        margin-left: 0.4rem;
      }
    }

    .time {
      margin: 0 0.4rem;
    }

    button {
      padding: 0.2rem;
      min-width: 0;
      min-height: 0;
    }
  }

  separator {
    margin: 0 0.4rem;
    background-color: gtkalpha($fg-color, 0.1);
  }

  .content {
    margin: 1rem;
    margin-top: 0.5rem;

    .summary {
      font-size: 1.2em;
      color: $fg-color;
    }

    .body {
      color: gtkalpha($fg-color, 0.8);
    }

    .image {
      border: 1px solid gtkalpha($fg-color, 0.02);
      margin-right: 0.5rem;
      border-radius: 9px;
      min-width: 100px;
      min-height: 100px;
      background-size: cover;
      background-position: center;
    }
  }

  .actions {
    margin: 1rem;
    margin-top: 0;

    button {
      margin: 0 0.3rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window#launcher {
  all: unset;

  box.Applauncher {
    background-color: $bg-color;
    border-radius: 11px;
    margin: 1rem;
    padding: 0.8rem;
    box-shadow: 2px 3px 8px 0 gtkalpha(black, 0.4);

    entry {
      margin-bottom: 0.8rem;
    }

    button {
      min-width: 0;
      min-height: 0;
      padding: 0.5rem;

      icon {
        font-size: 3em;
        margin-right: 0.3rem;
      }

      label.name {
        font-weight: bold;
        font-size: 1.1em;
      }

      label.description {
        color: gtkalpha($fg-color, 0.8);
      }
    }

    box.not-found {
      padding: 1rem;

      icon {
        font-size: 6em;
        color: gtkalpha($fg-color, 0.7);
      }

      label {
        color: gtkalpha($fg-color, 0.9);
        font-size: 1.2em;
      }
    }
  }
}
