// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@use "scss/notification.scss";
@use "scss/appLauncher.scss";
@use "scss/mediaPlayer.scss";
@use "scss/bar.scss";
@use "scss/buttons.scss";
@use "scss/systemMenu.scss";
@use "scss/window.scss";
@use "scss/divider.scss";
@use "scss/labels.scss";
